<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include page/header.html %}

    <div class="competition-title site-header__offset">
      <div class="competition-title__wrap">
        <div class="container text--center">
          <h1 class="title title--xl text--medium">{{page.title}}</h1>
          <div class="space--lg"></div>
          <a href="#entry-form" class="btn btn--lg btn--solid js-remove-sticky-enter">Enter Now</a>
        </div>
      </div>
    </div>

    <div id="content" class="container content-spacing">
      <div class="competition-content-wrap">

        <div class="container text--center vpad--xl bg--light">
          <div class="container container--no-padding container--xl">
            {{page.intro}}
          </div>
        </div>

        <div class="row row--constant-4-4-4 row--no-gutters bg--white">
          <div class="col">
            <div class="bg-img bg-img--3-4 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/prize1.jpg');"></div>
          </div>
          <div class="col">
            <div class="bg-img bg-img--3-4 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/prize2.jpg');"></div>
          </div>
          <div class="col">
            <div class="bg-img bg-img--3-4 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/prize3.jpg');"></div>
          </div>
        </div>


        <div id="entry-form" class="container vpad--xl bg--light text--center">
          <h3 class="title title--sm text--bold">Enter below for your chance to win</h3>
          <div class="space--lg"></div>
          <div class="container container--lg bg--white">
            <iframe src="{{page.entry-form.url}}" width="100%" height="{{page.entry-form.height}}"></iframe>
          </div>
        </div>

      </div>
    </div>

    <div class="competition-footer">
      <div class="competition-footer__wrap">
        <h2 class="core-title core-title--xxl">Feeling inspired?</h2>
        <div class="container container--no-padding container--lg">
          <p class="text--xl vpad--xs text--medium">Discover Secret Escapes offers that might tempt you</p>
          <div class="space--sm"></div>
          <a id="track-btn-current-sales" href="{{site.core-se-link}}" class="btn btn--orange">View Offers</a>
        </div>
      </div>
    </div>

    {% include page/footer.html %}

    {% include modal/modal.html %}

    <div class="bg__fixed" style="background-image: url('{{site.img}}/background.jpg');"></div>

  </body>

</html>